[Unit]
Description = Drive 7-segment clock display
After = wait-timesync.service 

[Service]
ExecStart = /usr/local/bin/clock-driver
Restart = always
RestartSec = 10

[Install]
WantedBy = multi-user.target
